<ul> <% @files.each do |file| %>
	<li><a href="<%=file%>"><%= file %></a></li>
	<% end %>
</ul>

<p>
	<% if params[:sort] == "descending" %>
		<a href="/">Sort ascending</a>
	<% else %>
		<a href="/?sort=descending">Sort descending</a>
	<% end %>
</p>